@keyframes slide-in-from-right {
  from {
    transform: translate(1000px, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes slide-in-from-left {
  from {
    transform: translate(-1000px, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

.text-bubble {
	font-size: 3vw;
}

/*TODO: Figure out why slide-in from right is janky on mobile*/
.bubble-container-reverse {
  animation: 0.2s slide-in-from-left;
  will-change: transform, translate;
}

.bubble-container {
  animation: 0.2s slide-in-from-left;
  will-change: transform, translate;
}

@media (min-width:600px) {
  .text-bubble {
    font-size: 3vw;
  }
}

@media (min-width:1000px) {
  .text-bubble {
    font-size: 2vw;
  }
  .avatar {
    margin-left: 50px;
  }
  .avatar-reverse {
    margin-right: 50px;
  }
}

@media (min-width:1200px) {
  .text-bubble {
    font-size: 1.5vw;
  }
}